<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <h1 class="title">Bar Locator</h1>
    <p><i class="fa fa-beer fa-2x"></i> Find bars near you and RSVP <i class="fa fa-glass fa-2x"></i></p>
    <div class="container">
      <form id="barSearch" action="/search" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="location" placeholder="Enter your location">
        </div>
        <button type="submit" name="submitButton" class="btn btn-primary"><span>Go</span></button>
      </form>
      <form action="/clear">
        <button type="submit" class="btn btn-danger"><span>Clear</span></button>
      </form>

    </div>
    <% if (businesses) { %>
      <% for (var i=0; i< businesses.name.length; i++) { %>
        <p>
          <a href="<%- businesses.url[i] %>" target="_blank"><%- businesses.name[i] %></a>
          <span><%- businesses.attending[i].users.length-1%></span>
          <form action="/attend/<%- businesses._id %>/<%- businesses.attending[i]._id %>">
            <button type="submit" class="btn"><span>Attend</span></button>
          </form>
          <form action="/remove/<%- businesses._id %>/<%- businesses.attending[i]._id %>">
            <button type="submit" class="btn"><span>Don't Go</span></button>
          </form>
        </p>
      <% } %>
    <% } %>
    <% include partials/footer.ejs %>
  </body>

  <!-- jQuery and jQuery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <!-- Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Client JavaScript -->
  <script src="/javascripts/script.js"></script>

</html>
